h1{
    height: 80px;
    width: 100%;
    background-color: black;
    color:white
}
main{
    background-color: burlywood;
    height:350px;
    width: 70%;
    border-radius: 3%;
}
h3{
    border:dashed;
    border-radius: 5%;
    width:70%;
    height:50px;
}